/* Mode clair */
body {
  background-color: white; /* Fond clair */
  color: black; /* Texte sombre */
}

/* Mode sombre */
body.dark-theme {
  background-color: black; /* Fond sombre */
  color: white; /* Texte blanc */
}
